/archivos/PabloAplication/nbproject/private/
/archivos/PabloAplication/build/
/archivos/documentacion/Presentacion/Video/OpenShot/PoliAuLink.mov
/nbproject
/application/config/database.php
/assets
/protected/config
/protected/config/main.php
/protected/runtime
/themes/PoliAuLink/images/contenidos
/protected/runtime/sql.log
