/archivos/PabloAplication/nbproject/private/
/archivos/PabloAplication/build/
/archivos/documentacion/Presentacion/Video/OpenShot/OzAuLink.mov
/nbproject
/application/config/database.php
/assets
/protected/config
/protected/runtime
/themes/OzAuLink/images/contenidos
!/protected/config/
/nbproject/project.properties
/index.php