#derecha{ float:left; min-height: 100%; margin-top: 15px; } 
	#derecha .iconos{ display:block; text-align: center; border: 1px solid #eee; padding: 40px 5px 5px 5px; width: 60px; color: #333; background-repeat: no-repeat; background-position: center 5px; } 
	#derecha .iconos:active{ border:1px solid #ccc; border:1px solid #ccc; background-color: #ddd;  }  
	#home{  background-image: url("../images/perfilmenu/inicio.png");background-position: center 5px; }  
	#home:hover{  background-image: url("../images/perfilmenu/inicio2.png"); }  
	#perfil{  background-image: url("../images/perfilmenu/perfil.png");}  
	#perfil:hover,#perfil:active{  background-image: url("../images/perfilmenu/perfil2.png");}  
	#proyectos{  background-image: url("../images/perfilmenu/proyectos.png");}  
	#proyectos:hover{  background-image: url("../images/perfilmenu/proyectos2.png");}  
	#fotos{  background-image: url("../images/perfilmenu/fotos.png");}  
	#fotos:hover{  background-image: url("../images/perfilmenu/fotos2.png");}  

#centro{ float:left; padding: 10px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; text-align: left; }
	#centro h3{ color: #28166F; margin-top: 0px;}
	#centro #noticias{ background:#eee; border: 1px #ccc; padding: 10px;}
	#publicacion{ padding:10px; width: 500px; color: #ccc; }
	
#conectar{
background: url("../images/perfil/conectar.png");
width: 102px;
height: 31px;
display: block;
float: right;
margin-bottom: 10px;
}

#conectar:hover{
background: url("../images/perfil/conectar-hover.png");
}

#iniciar{
background: url("../images/inicio/iniciar.png");
width: 102px;
height: 31px;
display: block;
float: right;
margin: 4px 11px 0 0;
}

#iniciar:hover{
background: url("../images/inicio/iniciar-hover.png");
}


.info{ border-bottom: 1px solid #ccc; padding: 5px 0; }
.info .title{ font-weight: bold; display: block; }

/**
estilo par los comentarios de error que se cargan en la pagina inicial
*/
.errormsg{
    color: red;
	display:block;
}