@font-face {
    font-family: "joshnetz";
    src: url("extens/POORICH.TTF") format("truetype");
}

*
{
font-family: Arial;
font-size:14px;
}

body{

font-family: Tahoma;
font-size: 14px;
text-align: center;
margin-left:0px;
margin-top:0px;
width:100%;
background:#ffffff;
}

html

{
margin-left:0px;
margin-top:0px;
width:100%;
}

img
{
border:0px;
}


hr
{
width:98%;
border-color:white;

}

h1
{
	font-size: 19px;
}

h2
{
	font-size: 18px;
}

h3
{
	font-size: 16px;
}

a {
cursor:pointer;
text-decoration:none;

}

a :active{

text-decoration:none;

}

a :visited{

text-decoration:none;

}

p
{
text-align:justify;
font-size:14px;
}

.listas
{

}

.listas:hover
{
background:#dbf1ff;
cursor:pointer;
}

.clear
{
clear:both;
}



.circular
{
border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
-moz-border-radius:8px 8px 8px 8px;
border:1px solid #CECECE;
padding:6px;
margin:4px;
}

/* Modulos*/

#contenedor
{
width:970px;
padding:10px;
margin:auto;

}

#contenedor2
{
background:white;
border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
-moz-border-radius:8px 8px 8px 8px;
border:1px solid #CECECE;
padding-left:15px;
padding-top:5px;
margin-top:10px;
box-shadow: 0px 5px 15px #333;
-webkit-box-shadow: 0px 5px 15px #333;
-moz-box-shadow: 0px 5px 15px #333;
padding-bottom:20px;
}


#contenido
{
width:720px;
float:left;

}

#izquierda
{

}


#derecha
{
float:right;
width:205px;
padding:6px;

}

#menu
{
font-family: Century Gothic;
background:#6d6d6e;
height:31px;
border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
-moz-border-radius:8px 8px 8px 8px;
margin-top:5px;
margin-bottom:5px;
}



#encabezado
{
width:100%;
background-repeat: repeat-x;
padding-top:3px;

}

#bottom
{
width:970px;
background-color:#adc75f;
margin:auto;
margin-top:15px;
border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
-moz-border-radius:8px 8px 8px 8px;
box-shadow: 0px 5px 15px #333;
-webkit-box-shadow: 0px 5px 15px #333;
-moz-box-shadow: 0px 5px 15px #333;
}

#bottom a
{
color:#5B6C26;
}


#derecha  h2
{
background:#305C97;
color:#ffffff;
padding:6px;
font-size:14px;
border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
-moz-border-radius:8px 8px 8px 8px;
position:relative;
}

.zonadivderecha
{
background:#adc75f;
width:172px;
margin:auto;
margin-top:-15px;
padding:10px;
border:1px solid #CECECE;
}

.zonadivderecha2
{
width:172px;
margin:auto;
margin-top:-15px;
padding:10px;
border:0px solid #CECECE;
}

#pie
{
width:100%;
padding:10px;
margin:auto;
padding:10px;

background:#39414A;
}

/***********************************/

#iconosredessociales a {

}

#iconosredessociales a:active {

}

.leermas
{
text-decoration: none;
font-size:12px;
/*color:#ca7111;*/
color:#7c5123;
font-weight: normal;
}

.leermas:hover
{

}

a.fuentebottom
{
text-decoration:none;

padding:0px;
}

a.fuentebottom:hover
{

-webkit-text-shadow: 0px 0px 10px #828282;
 text-shadow: #828282 0px 0px 15px ;
}

a.fuente
{
text-decoration:none;

color:#000000;
padding:0px;
}

a.fuente:hover
{
color:#305C97;

}


.contenedorcontenido
{
width:100%;
}

#menu_administracion
{
	float:left;
	margin-left:0px;
}

#contenido_administracion
{
	float:right;
	margin-left:0px;
}